<app-menu titulo="historialVentas"></app-menu>

<ion-content id="main-content" [fullscreen]="true">
  <h3 style="margin: 1% 2% 0% 2%">
    <b>Hisotiral</b> || <span style="font-size:medium;"><ion-icon size="medium" name="library-outline"></ion-icon>
      Ventas & incidentes</span>
  </h3>
  <!--h5 style="text-align: center;">Busqueda por ID ó nombre del distribuidor</h5>
  <div style="width: 98%; margin: 1%;">
    <ion-searchbar style="--border-radius: 8px; transform: scale(1.2);  width: 83%; margin: 0 auto;"
      placeholder="ID ó nombre del distribuidor" [debounce]="250" showCancelButton="focus"></ion-searchbar>
  </div>
  <div>
  </div-->

  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="2">

        </ion-col>
        <ion-col size="12" size-sm="2">

        </ion-col>
        <ion-col size="12" size-sm="2">

        </ion-col>
        <ion-col size="12" size-sm="2">

        </ion-col>
      </ion-row>
    </ion-grid>    
  </div>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>