<app-menu titulo="panelVen"></app-menu>

<ion-content id="main-content" [fullscreen]="true">
  <h3 style="margin: 1% 2% 0% 2%">
    <b>Ventas en tiempo real</b> & <span style="font-size:medium;"><ion-icon name="bar-chart-outline"></ion-icon>
      Analisis por
      graficos</span>
    <ion-text class="reloj">{{ fechaHoraActual }}</ion-text>
  </h3>





  <!-- Estadistica general -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="3">
        <ion-card class="ventas-tarjeta">
          <ion-card-content>
            <ion-row>
              <ion-col size="6" style="text-align: center;">
                <b>Total de ventas</b>
                <br>
                <ion-icon name="bag-check-outline" size="large"></ion-icon>
              </ion-col>
              <ion-col size="6" style="background-color: white; border-radius: 5%; padding-top: 10px;">
                <h1 style="text-align: center;">{{ totalVentas }}</h1>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="3">

        <ion-card class="ingresos-tarjeta">
          <ion-card-content>
            <ion-row>
              <ion-col size="6" style="text-align: center;">
                <b>Total de ingresos</b>
                <br>
                <ion-icon name="cash-outline" size="large"></ion-icon>
              </ion-col>
              <ion-col size="6" style="background-color: white; border-radius: 5%; padding-top: 10px;">
                <h1 style="text-align: center;">${{ totalIngresos | number:'1.2-2' }}</h1>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-sm="3">
        <ion-card class="incidentes-tarjeta">
          <ion-card-content>
            <ion-row>
              <ion-col size="6" style="text-align: center;">
                <b>Total de incidentes</b>
                <br>
                <ion-icon name="alert-circle-outline" size="large"></ion-icon>
              </ion-col>
              <ion-col size="6" style="background-color: white; border-radius: 5%; padding-top: 10px;">
                <h1 style="text-align: center;">{{ totalIncidentes }}</h1>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-sm="3">
        <ion-card class="incidente-frecuente-tarjeta">
          <ion-card-content>
            <ion-row>
              <ion-col size="6" style="text-align: center;">
                <b>Incidente frecuente</b>
                <br>
                <ion-icon name="warning-outline" size="large"></ion-icon>
              </ion-col>
              <ion-col size="6" style="background-color: white; border-radius: 5%; padding-top: 10px;">
                <h2 style="text-align: center;">{{ incidenteMasFrecuente }}</h2>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Estadistica -->
  <!-- Estadística -->
  <div>
    <ion-grid>
      <ion-row>
        <!-- Mejores proveedores (Gráfico Pie) -->
        <ion-col size="12" size-sm="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="text-align: center;">Mejores proveedores</ion-card-title>
            </ion-card-header>
            <ion-card-content style="display: flex; justify-content: center; align-items: center;">
              <apx-chart *ngIf="chartMejoresProveedores.series?.length > 0" [series]="chartMejoresProveedores.series"
                [chart]="chartMejoresProveedores.chart" [labels]="chartMejoresProveedores.labels">
              </apx-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Mapa de ventas -->
        <ion-col size="12" size-sm="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="text-align: center;">Mapa de ventas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="map-container">
                <div leaflet [leafletOptions]="options" [leafletLayers]="layers">
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>



        <!-- Ventas en el día -->
        <ion-col size="12" size-sm="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="text-align: center;">Ventas en el día</ion-card-title>
            </ion-card-header>
            <ion-card-content style="display: flex; justify-content: center; align-items: center;">
              <apx-chart *ngIf="chartVentasDia.series?.length > 0" [series]="chartVentasDia.series"
                [chart]="chartVentasDia.chart" [xaxis]="chartVentasDia.xaxis">
              </apx-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!-- Tabla de ventas realizadas -->
   <h1 style="text-align: center;"><b>Ventas Realizadas</b></h1>
  <ion-card class="tabla-ventas-tarjeta">
    <ion-card-content>
      <ion-grid class="tabla-responsive">
        <ion-row class="encabezado">
          <ion-col size="3"><b>ID Vendedor</b></ion-col>
          <ion-col size="3"><b>Precio</b></ion-col>
          <ion-col size="3"><b>Domicilio</b></ion-col>
          <ion-col size="3"><b>Fecha</b></ion-col>
        </ion-row>
        
        <ion-row *ngFor="let venta of registrosPaginados">
          <ion-col size="3">{{ venta.ID_VENDEDOR }}</ion-col>
          <ion-col size="3">${{ venta.PRECIO }}</ion-col>
          <ion-col size="3">
            <ion-icon name="location-outline" style="color: var(--ion-color-primary);"></ion-icon>
            {{ venta.DOMICILIO ? venta.DOMICILIO : 'No disponible' }}
          </ion-col>
          <ion-col size="3">
            <ion-icon name="calendar-outline" style="color: var(--ion-color-tertiary);"></ion-icon>
            {{ convertirFecha(venta.FECHA_VENTA.seconds) }}
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <!-- Paginación -->
      <div class="pagination">
        <ion-button (click)="paginaAnterior()" [disabled]="paginaActual === 1">Anterior</ion-button>
        <span>Página {{ paginaActual }} de {{ getTotalPaginas() }}</span>
        <ion-button (click)="paginaSiguiente()" [disabled]="paginaActual === getTotalPaginas()">Siguiente</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  
</ion-content>