.reloj {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  padding-right: 15px;
}

.ventas-tarjeta {
  background-color: #A7E9AF; /* Verde pastel */
  color: #2E7D32;
}

.ingresos-tarjeta {
  background-color: #A7C7E7; /* Azul pastel */
  color: #1565C0;
}

.incidentes-tarjeta {
  background-color: #FDECB2; /* Amarillo pastel */
  color: #E65100;
}

.incidente-frecuente-tarjeta {
  background-color: #F8C3A6; /* Naranja pastel */
  color: #BF360C;
}